/* Общие стили для всей страницы */

html {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.parent {
  text-align: center;
  width: 100%;
  height: 600px;
  display: flex;
  color: white;
  display: flex;
  overflow: hidden;
  margin-bottom: 10px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  text-align: start;
  width: 90%;
  height: 0%;
  color: black;
  margin-left: 0;
  padding: 0;
}
.child {
  height: 100%;
  width: 25%;
  overflow: hidden;
}
.sideChild {
  display: flex;
  background-size: cover;
  background: linear-gradient(70deg, #5f5c5f, #0074ca);
  background-position: center;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: filter 0.2s ease;
  overflow: hidden;
}

.bigChild {
  display: flex;
  background: transparent;
  background-image: url("components/icons/p241-white-1.png");
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  transition: filter 1s ease;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
.logoImg {
  width: 60%;
}

.bigChild h2 {
  font-size: clamp(50px, 8vw, 80px);
  margin-bottom: 0;
  width: 50%;
}

.bigChild p {
  padding-top: 5%;
  padding-bottom: 5%;
  /* text-align: start; */
  width: 50%;
}

/* .sideChild:hover {
  filter: brightness(130%);
} */

@media (max-width: 1300px) {
  .parent {
    display: flex;
    flex-direction: column;
    height: 800px;
  }
  .child {
    display: flex;
    width: 100%;
    height: 33%;
    flex-direction: row;
  }
  .bigChild {
    width: 100%;
    height: 50%;
    order: -100;
  }
  .bigChild button {
    background-color: #0074ca;
    color: white;
  }
  .info {
    padding-top: 200px;
  }
  .sideChild {
    height: 100%;
  }
}

/* Cтили наведения на боковую мозайку */
/* Общие стили */
/* *:after,
*:before {
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.effect-text-four {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.hover-text-one {
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  text-align: center;
}
.hover-text-one figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
.hover-text-one figure img {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hover-text-one figure figcaption {
  padding: 2em;
  color: black;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
  pointer-events: none;
}
.hover-text-one figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hover-text-one figure h3 {
  word-spacing: -0.15em;
  font-weight: 300;
}
.hover-text-one figure h3 span {
  font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
  margin: 0;
}
.hover-text-one figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/* Эффект при наведении */
/* figure.effect-text-four figcaption {
  text-align: left;
}
figure.effect-text-four h3,
figure.effect-text-four p {
  position: absolute;
  right: 30px;
  left: 30px;
  padding: 10px 0;
}
figure.effect-text-four p {
  bottom: 100px;
  line-height: 1.5;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
figure.effect-text-four h3 {
  top: 190px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100px, 0);
  transform: translate3d(0, 100px, 0);
}
figure.effect-text-four:hover h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
figure.effect-text-four h3::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: black;
  content: "";
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}
figure.effect-text-four h3::after,
figure.effect-text-four p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
figure.effect-text-four:hover h3::after,
figure.effect-text-four:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
} */

/* Стили для HERO секции */
/* #hero {
  display: flex;
  background: linear-gradient(70deg, #5f5c5f, #0074ca);
  background-size: cover;
  background-position: center;
  color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 100px;
}

#hero h2 {
  font-size: 32px;
  margin: 0;
}

#hero p {
  font-size: 18px;
  margin: 20px 0;
} */

/* Стили для секции с основными преимуществами */
/* .features {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}
.featureCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  width: 250px;
}
.featureName {
  margin: 10px;
  display: flex;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 0;
}
.featureDesc {
  display: flex;
  text-align: center;
  font-weight: lighter;
  color: gray;
  margin: 10px;
}
.featureCard img {
  width: 50px;
  height: 50px;
} */

/* Стили для секции с контактной информацией и формой обратной связи */
/* #contact {
  height: 500px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contactRight {
  width: 50%;
  height: 100%;
}
.contactRight iframe {
  width: 100%;
  height: 100%;
}
.contactLeft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.contactLeft h2 {
  color: #0074ca;
  display: flex;
  justify-content: center;
}
.contactLeft img {
  height: 25px;
}
.contactLeft p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

/* Стили карусели */

/* .carousel {
  align-items: center;
  background: #e3e3e3;
  display: flex;
  height: 200px;
  justify-content: center;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}
.slide img {
  object-fit: contain;
} */

/* Стили для подвала страницы */
